@charset "utf-8";
h1, h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.cover {
    margin: auto; 
    display: block;
}

img {
    text-align: center;
}

div {
    text-indent: 40px;
    line-height: 1.8;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

div.page-break {
    page-break-after: always;
}